---
Checks: >
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  unused-*,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-macro-usage,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -bugprone-reserved-identifier,
  -modernize-use-designated-initializers,
  -modernize-use-ranges,
  -modernize-use-starts-ends-with,
  -modernize-use-integer-sign-comparison,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -bugprone-derived-method-shadowing-base-method,
  -bugprone-command-processor

WarningsAsErrors: ''

CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'